// ion-app._gmaps_cdv_ .nav-decor{
//     background-color: transparent !important;
//   }
ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important;
  } 
  page-map{
      #map {
        height: 1000px !important;
        width: 1000px !important;
        top: 0;
        left: 0;
        position: absolute;
        background-color: aqua;
      }
      #map_canvas {
        height: 100% !important;
        width: 100% !important;
        top: 0;
        left: 0;
        position: absolute;
        background-color: aqua;
       }
  }