popover-shop {
        .popover{
            height:120px; 
        }
        .img1{
            vertical-align:middle;
            background: transparent !important;
        }
        .km{
            color:grey;
            font-size:12px;
        }
        .shop{
            color:grey;
            font-size: 12px;
            vertical-align:middle;
        }
    
}
